h1{
    font-family: 'Playfair Display', serif;
    font-size:40px ;
}
.h1-{
      font-family: 'Roboto', sans-serif;
      text-align: center;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: small;
}
span{
    color:orange;
}
.anchor{
    text-decoration: none;
    background-color:rgb(223, 83, 83);
    padding: 10px 40px;
    border-radius:5px ;
    color: white;


}
.full-width{
    display: flex;
}
.half-width img{
    width:80% ;
}
.half-width{
    width: 100%;
    padding-left:160px ;
}
#width{
    margin-top:80px ;
}
.border{
   
    border-image-slice: 1;
    border-left: 3px solid rgb(223, 83, 83) ;
   padding-left: 10px;
   
}
.image-width img{
    width:50% ;
}
.image-width{
    display: flex;
    width: 70%;
    margin-left: 15%;
     
    

}
.color-1{
 background-color: rgb(189, 217, 228);
 padding-left: 20px;
 padding-right:20px ;
 padding-top: 20px;
 padding-bottom:20px ;
 margin-left: 40px;
 border-radius: 10px;
}
.color-2{
 background-color:rgb(224, 194, 200) ;
 padding-left: 20px;
 padding-top: 20px;
 padding-right: 20px;
 padding-bottom:20px ;
 margin-left: 40px;
 border-radius: 10px;
}
.color-3{
 background-color:rgb(223, 204, 182);
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 20px;
 padding-bottom:20px ;
 margin-left: 40px;
 border-radius: 10px;
}
#width-tour{
    margin-top:80px ;
   margin-right: 80px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding-left: 40px;
    padding-bottom: 40px;

}
